/*Esto afecta a todas las páginas del sitio*/

* {
    font-family: 'Josefin Sans';
}


/*esto afecta a index1*/

.pag1 #block1 {
    background-color: yellow;
    block-size: 50px;
}

.pag1 #block2 {
    background-color: #ed2251;
    border: black 1px solid;
    block-size: 50px;
}

.pag1 #block3 {
    background-color: yellow;
    block-size: 50px;
}

.pag1 p {
    padding: 10px;
    margin: 0px;
}


/*esto afecta a index2*/

.pag2 {
    display: inline-block;
}

.pag2 #block21,
#block23 {
    background-color: yellow;
    block-size: 50px;
    width: 200px;
}

.pag2 #block22 {
    background-color: #ed2251;
    block-size: 50px;
    width: 200px;
}

.pag2 p {
    padding: 10px;
}


/*esto afecta a index3*/

.pag3 #block31,
#block32,
#block33 {
    height: 30px;
    display: inline-block;
    margin: 10px;
    padding: 0px 3px;
    width: auto;
}

.pag3 #block31,
#block33 {
    background-color: yellow;
}

.pag3 #block32 {
    background-color: #ed2251;
}

.pag3 p {
    padding: 0px 3px;
}


/*esto afecta a index4*/

.pag4 #block41,
#block42,
#block43 {
    display: inline-block;
    height: 50px;
    margin: 10px;
    padding: 0px 3px;
    width: 250px;
}

.pag4 #block41,
#block43 {
    background-color: yellow;
}

.pag4 #block42 {
    background-color: #ed2251;
}

.pag4 p {
    margin: 0px;
}


/*Esto afecta a index5*/

#pag5 {
    background: grey;
}

#cajas {
    margin: 20px;
}

.container #caja1 {
    width: 50px;
    height: 50px;
    background-color: #9f173d;
    margin-bottom: 20px;
    display: block;
    padding: 20px;
    border: 1px solid #bca0b1;
    margin: 20px;
    margin-bottom: 40px;
}

.container #caja2,
#caja3,
#caja4 {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 20px;
    border: 30px solid #bca0b1;
    margin: -2px;
    background-color: #9f173d;
    border-right: 15px solid #bca0b1;
    ;
}

.container #caja4 {
    border-right: 30px solid #bca0b1;
}

.container #caja5,
#caja6 {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #bca0b1;
    margin: 20px;
    background-color: #9f173d;
    margin-bottom: 20px;
}

.container #caja7 {
    width: 50px;
    height: 50px;
    background-color: #9f173d;
    margin-bottom: 20px;
    display: block;
    padding: 20px;
    border: 1px solid #bca0b1;
    margin: 20px;
}


/*Adicionalmente, agregué un navbar con dropdown menu con estilos para acceder a cada ejercicio :)*/

.navbar {
    margin-bottom: 20px;
    font-weight: 700;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    display: inline-block
}

ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover,
.dropbtn:hover {
    background-color: #9f173d;
    color: snow;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #9f173d;
}

.dropdown:hover .dropdown-content {
    display: block;
}