/*Esto afecta a todas las páginas del sitio*/

* {
    font-family: 'Josefin Sans';
}


/*esto afecta a index1*/

#promo #block1 {
    background-color: yellow;
    block-size: 50px;
}

#promo #block2 {
    background-color: #ed2251;
    border: black 1px solid;
    block-size: 50px;
}

#promo #block3 {
    background-color: yellow;
    block-size: 50px;
}

#promo p {
    padding: 10px;
    margin: 0px;
}


/*esto afecta a index2*/

#promo2 #block1,
#block3 {
    background-color: yellow;
    block-size: 50px;
    width: 200px;
}

#promo2 #block2 {
    background-color: #ed2251;
    block-size: 50px;
    width: 200px;
}

#promo2 p {
    padding: 10px;
}


/*esto afecta a index3*/

#promo3 #block1,
#block2,
#block3 {
    display: inline-block;
    height: auto;
    margin: 10px;
    padding: 0px 3px;
    width: auto;
}

#promo3 #block1,
#block3 {
    background-color: yellow;
}

#promo3 #block2 {
    background-color: #ed2251;
}

#promo3 p {
    padding: 0px 3px;
}


/*esto afecta a index4*/

#promo4 #block1,
#block2,
#block3 {
    display: inline-block;
    height: 50px;
    margin: 10px;
    padding: 0px 3px;
    width: 250px;
}

#promo4 #block1,
#block3 {
    background-color: yellow;
}

#promo4 #block2 {
    background-color: #ed2251;
}

#promo4 p {
    margin: 0px;
}


/*Esto afecta a index5*/

#pag5 {
    background: grey;
}

#cajas {
    margin: 20px;
}

.container #caja1 {
    width: 100px;
    height: 100px;
    background-color: #9f173d;
    margin-bottom: 20px;
    display: block;
    padding: 20px;
    border: 1px solid #bca0b1;
    margin: 20px;
    margin-bottom: 40px;
}

.container #caja2,
#caja3,
#caja4 {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 20px;
    border: 30px solid #bca0b1;
    margin: -2px;
    background-color: #9f173d;
    border-right: 15px solid #bca0b1;
    ;
}

.container #caja4 {
    border-right: 30px solid #bca0b1;
}

.container #caja5,
#caja6 {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #bca0b1;
    margin: 20px;
    background-color: #9f173d;
    margin-bottom: 20px;
}

.container #caja7 {
    width: 100px;
    height: 100px;
    background-color: #9f173d;
    margin-bottom: 20px;
    display: block;
    padding: 20px;
    border: 1px solid #bca0b1;
    margin: 20px;
}