/*Esto afecta a todas las páginas del sitio*/

* {
    font-family: 'Josefin Sans';
}


/*esto afecta a index1*/

#promo #block1 {
    background-color: yellow;
    block-size: 50px;
}

#promo #block2 {
    background-color: #ed2251;
    border: black 1px solid;
    block-size: 50px;
}

#promo #block3 {
    background-color: yellow;
    block-size: 50px;
}

#promo p {
    padding: 10px;
    margin: 0px;
}


/*esto afecta a index2*/

#promo2 #block1,
#block3 {
    background-color: yellow;
    block-size: 50px;
    width: 200px;
}

#promo2 #block2 {
    background-color: #ed2251;
    block-size: 50px;
    width: 200px;
}

#promo2 p {
    padding: 10px;
}


/*esto afecta a index3*/

#promo3 #block1,
#block2,
#block3 {
    display: inline-block;
    height: auto;
    margin: 10px;
    padding: 0px 3px;
    width: auto;
}

#promo3 #block1,
#block3 {
    background-color: yellow;
}

#promo3 #block2 {
    background-color: #ed2251;
}

#promo3 p {
    padding: 0px 3px;
}


/*esto afecta a index4*/

#promo4 #block1,
#block2,
#block3 {
    display: inline-block;
    height: auto;
    margin: 10px;
    padding: 0px 3px;
    width: 250px;
}

#promo4 #block1,
#block3 {
    background-color: yellow;
}

#promo4 #block2 {
    background-color: #ed2251;
}

#promo4 p {
    padding: 0px 3px;
}